SAX2Validation/src/test/resources/sax-example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="role">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CEO"/>
				<xs:enumeration value="Java Developer"/>
				<xs:enumeration value="Manager"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Lisa"/>
				<xs:enumeration value="Meghna"/>
				<xs:enumeration value="Pankaj"/>
				<xs:enumeration value="Tom"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="gender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Female"/>
				<xs:enumeration value="Male"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="age">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="25"/>
				<xs:enumeration value="29"/>
				<xs:enumeration value="35"/>
				<xs:enumeration value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Employee" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="age"/>
				<xs:element ref="name"/>
				<xs:element ref="gender"/>
				<xs:element ref="role"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
